*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: roboto, sans-serif;
}

.hero{
    background-color: #1f2937;
    color:#f9faf8;
    padding:0 10%;
}
header{
    display:flex;
    padding-top:16px;

}
h1{
    height:5vh;
    width:50vw;
}
.hero ul{
    list-style-type: none;
    height:5vh;
    display:flex;
    justify-content: flex-end;
    gap:32px;
    
}
a{
    text-decoration: none;
    color:#f9faf8;
}
.container{

    display:flex;
    justify-content: space-between;
}
.header-photo img{
    height:30vh;
    width:30vw;
}
button{
    color:white;
    background-color:#3882f6;
    font-size:1em;
    font-weight:bold;
    padding:8px;
    border-radius: 8px;
    width:90px;
}
.more-information{
    margin-top:32px;
    margin-bottom:32px;
}
.img-details img{
    height:20vh;
    width:20vw;
}